In [ ]:
# 1683. Invalid Tweets
# Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.
# 1) 
tweets.loc[tweets['content'].str.len()  >=16, ['tweet_id']]

#2) 
df = tweets[tweets['content'].str.len()  >=16]
tweets[['tweet_id']]

In [ ]:
# 595. Big Countries
# Table: World

# +-------------+---------+
# | Column Name | Type    |
# +-------------+---------+
# | name        | varchar |
# | continent   | varchar |
# | area        | int     |
# | population  | int     |
# | gdp         | bigint  |
# +-------------+---------+
# name is the primary key (column with unique values) for this table.
# Each row of this table gives information about the name of a country, the continent to which it belongs, its area, the population, and its GDP value.
 

# A country is big if:

# it has an area of at least three million (i.e., 3000000 km2), or
# it has a population of at least twenty-five million (i.e., 25000000).

df = world[(world['area'] >= 3000000) | (world['population'] >= 25000000)]
    return df[['name', 'population', 'area']]

In [ ]:
# 1148. Article Views I

# Table: Views

# +---------------+---------+
# | Column Name   | Type    |
# +---------------+---------+
# | article_id    | int     |
# | author_id     | int     |
# | viewer_id     | int     |
# | view_date     | date    |
# +---------------+---------+
# There is no primary key (column with unique values) for this table, the table may have duplicate rows.
# Each row of this table indicates that some viewer viewed an article (written by some author) on some date. 
# Note that equal author_id and viewer_id indicate the same person.
 

# Write a solution to find all the authors that viewed at least one of their own articles.

# Return the result table sorted by id in ascending order.


def article_views(views: pd.DataFrame) -> pd.DataFrame:
    return views.loc[
      views['author_id'] ==views['viewer_id'], ['author_id']
    ].drop_duplicates().rename(columns = {'author_id' : 'id',}
      ).sort_values(by = ['id'])