In [ ]:
# 1683. Invalid Tweets
# Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.
# 1) 
tweets.loc[tweets['content'].str.len()  >=16, ['tweet_id']]

#2) 
df = tweets[tweets['content'].str.len()  >=16]
tweets[['tweet_id']]

In [ ]:
# 595. Big Countries
# Table: World

# +-------------+---------+
# | Column Name | Type    |
# +-------------+---------+
# | name        | varchar |
# | continent   | varchar |
# | area        | int     |
# | population  | int     |
# | gdp         | bigint  |
# +-------------+---------+
# name is the primary key (column with unique values) for this table.
# Each row of this table gives information about the name of a country, the continent to which it belongs, its area, the population, and its GDP value.
 

# A country is big if:

# it has an area of at least three million (i.e., 3000000 km2), or
# it has a population of at least twenty-five million (i.e., 25000000).

df = world[(world['area'] >= 3000000) | (world['population'] >= 25000000)]
    return df[['name', 'population', 'area']]

In [ ]:
# 1148. Article Views I

# Table: Views

# +---------------+---------+
# | Column Name   | Type    |
# +---------------+---------+
# | article_id    | int     |
# | author_id     | int     |
# | viewer_id     | int     |
# | view_date     | date    |
# +---------------+---------+
# There is no primary key (column with unique values) for this table, the table may have duplicate rows.
# Each row of this table indicates that some viewer viewed an article (written by some author) on some date. 
# Note that equal author_id and viewer_id indicate the same person.
 

# Write a solution to find all the authors that viewed at least one of their own articles.

# Return the result table sorted by id in ascending order.


def article_views(views: pd.DataFrame) -> pd.DataFrame:
    return views.loc[
      views['author_id'] ==views['viewer_id'], ['author_id']
    ].drop_duplicates().rename(columns = {'author_id' : 'id',}
      ).sort_values(by = ['id'])

In [ ]:
# 1873. Calculate Special Bonus
# Table: Employees

# +-------------+---------+
# | Column Name | Type    |
# +-------------+---------+
# | employee_id | int     |
# | name        | varchar |
# | salary      | int     |
# +-------------+---------+
# employee_id is the primary key (column with unique values) for this table.
# Each row of this table indicates the employee ID, employee name, and salary.
 

# Write a solution to calculate the bonus of each employee. The bonus of an employee is 100% of their salary if the ID of the employee is an odd number and the employee's name does not start with the character 'M'. The bonus of an employee is 0 otherwise.


# 1) 
    employees['bonus'] = employees.apply(lambda x: x['salary'] if x['employee_id'] %2 == 1 and x['name'][0] != 'M' else 0, axis = 1)
    return employees[['employee_id', 'bonus']].sort_values(by = ['employee_id'])

#2) 
employees.assign(
        bonus=employees.apply(lambda x: x['salary'] if int(x['employee_id']) % 2 != 0 and not x['name'].startswith('M') else 0, axis=1)
    )[['employee_id', 'bonus']].sort_values(
        by='employee_id',
    )

In [ ]:
# 1667. Fix Names in a Table
# Table: Users

# +----------------+---------+
# | Column Name    | Type    |
# +----------------+---------+
# | user_id        | int     |
# | name           | varchar |
# Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.

# Return the result table ordered by user_id.

# The result format is in the following example.

 

# Example 1:

# Input: 
# Users table:
# +---------+-------+
# | user_id | name  |
# +---------+-------+
# | 1       | aLice |
# | 2       | bOB   |
# +---------+-------+
# Output: 
# +---------+-------+
# | user_id | name  |
# +---------+-------+
# | 1       | Alice |
# | 2       | Bob   |
# +---------+-------+


users['name'] = users['name'].apply(lambda x: x.capitalize() )
    return users.sort_values(by = ['user_id'])

In [1]:
# 1517. Find Users With Valid E-Mails
# Table: Users

# +---------------+---------+
# | Column Name   | Type    |
# +---------------+---------+
# | user_id       | int     |
# | name          | varchar |
# | mail          | varchar |
# +---------------+---------+
# user_id is the primary key (column with unique values) for this table.
# This table contains information of the users signed up in a website. Some e-mails are invalid.
 

# Write a solution to find the users who have valid emails.

# A valid e-mail has a prefix name and a domain where:

# The prefix name is a string that may contain letters (upper or lower case), digits, underscore '_', period '.', and/or dash '-'. The prefix name must start with a letter.
# The domain is '@leetcode.com'.

# Solution 1)
import pandas as pd

def check(s):
    is_valid = False
    a = s.split('@')
    if len(a) < 2:
        return False
    if a[1] =='leetcode.com' and a[0][0].isalpha():
        for i in a[0]:
            if i.isalpha() or i.isdigit() or i == '_' or i == '.' or i == '-':
                pass
            else:
                return False
        return True

    return False

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    users['is_valid'] = users['mail'].apply(lambda x: check(x))
    return users.loc[users['is_valid'] == True, ['user_id', 'name', 'mail']]
    

# Solution 2)
return users[
        users['mail'].str.match(r'^[a-zA-Z][a-zA-Z\d_.-]*@leetcode\.com')
    ]



# SQL
# Solution 1

select * 
FROM Users
WHERE mail REGEXP '^[A-Za-z][A-Za-z0-9_\.\-]*@leetcode(\\?com)?\\.com$';

In [ ]:
# 1527. Patients With a Condition
# Table: Patients

# +--------------+---------+
# | Column Name  | Type    |
# +--------------+---------+
# | patient_id   | int     |
# | patient_name | varchar |
# | conditions   | varchar |
# +--------------+---------+
# patient_id is the primary key (column with unique values) for this table.
# 'conditions' contains 0 or more code separated by spaces. 
# This table contains information of the patients in the hospital.

# Write a solution to find the patient_id, patient_name, and conditions of the patients who have Type I Diabetes. Type I Diabetes always starts with DIAB1 prefix.

# pandas)
# 1) here \b shows that DIAB1 prefix is of a word
patients.loc[patients['conditions'].str.contains(r'\bDIAB1')]

# SQL
# 1) 
select * 
From patients
where conditions like 'DIAB1%' or conditions like '% DIAB1%'