In [ ]:
# 1683. Invalid Tweets
# Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.
# 1) 
tweets.loc[tweets['content'].str.len()  >=16, ['tweet_id']]

#2) 
df = tweets[tweets['content'].str.len()  >=16]
tweets[['tweet_id']]

In [ ]:
# 183. Customers Who Never Order

# Write a solution to find all customers who never order anything.

# Return the result table in any order.

# The result format is in the following example.

 
# Example 1:

# Input: 
# Customers table:
# +----+-------+
# | id | name  |
# +----+-------+
# | 1  | Joe   |
# | 2  | Henry |
# | 3  | Sam   |
# | 4  | Max   |
# +----+-------+
# Orders table:
# +----+------------+
# | id | customerId |
# +----+------------+
# | 1  | 3          |
# | 2  | 1          |
# +----+------------+
# Output: 
# +-----------+
# | Customers |
# +-----------+
# | Henry     |
# | Max       |
# +-----------+

# Sol
# excluding all the custoemr id that are in order

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    never_ordered = customers[~customers['id'].isin(orders['customerId'])][['name']]
    return never_ordered.rename(columns = {'name':'Customers'})

In [ ]:
# 595. Big Countries
# Table: World

# +-------------+---------+
# | Column Name | Type    |
# +-------------+---------+
# | name        | varchar |
# | continent   | varchar |
# | area        | int     |
# | population  | int     |
# | gdp         | bigint  |
# +-------------+---------+
# name is the primary key (column with unique values) for this table.
# Each row of this table gives information about the name of a country, the continent to which it belongs, its area, the population, and its GDP value.
 

# A country is big if:

# it has an area of at least three million (i.e., 3000000 km2), or
# it has a population of at least twenty-five million (i.e., 25000000).

df = world[(world['area'] >= 3000000) | (world['population'] >= 25000000)]
    return df[['name', 'population', 'area']]

In [ ]:
# 1148. Article Views I

# Table: Views

# +---------------+---------+
# | Column Name   | Type    |
# +---------------+---------+
# | article_id    | int     |
# | author_id     | int     |
# | viewer_id     | int     |
# | view_date     | date    |
# +---------------+---------+
# There is no primary key (column with unique values) for this table, the table may have duplicate rows.
# Each row of this table indicates that some viewer viewed an article (written by some author) on some date. 
# Note that equal author_id and viewer_id indicate the same person.
 

# Write a solution to find all the authors that viewed at least one of their own articles.

# Return the result table sorted by id in ascending order.


def article_views(views: pd.DataFrame) -> pd.DataFrame:
    return views.loc[
      views['author_id'] ==views['viewer_id'], ['author_id']
    ].drop_duplicates().rename(columns = {'author_id' : 'id',}
      ).sort_values(by = ['id'])

In [ ]:
# 1873. Calculate Special Bonus
# Table: Employees

# +-------------+---------+
# | Column Name | Type    |
# +-------------+---------+
# | employee_id | int     |
# | name        | varchar |
# | salary      | int     |
# +-------------+---------+
# employee_id is the primary key (column with unique values) for this table.
# Each row of this table indicates the employee ID, employee name, and salary.
 

# Write a solution to calculate the bonus of each employee. The bonus of an employee is 100% of their salary if the ID of the employee is an odd number and the employee's name does not start with the character 'M'. The bonus of an employee is 0 otherwise.


# 1) 
    employees['bonus'] = employees.apply(lambda x: x['salary'] if x['employee_id'] %2 == 1 and x['name'][0] != 'M' else 0, axis = 1)
    return employees[['employee_id', 'bonus']].sort_values(by = ['employee_id'])

#2) 
employees.assign(
        bonus=employees.apply(lambda x: x['salary'] if int(x['employee_id']) % 2 != 0 and not x['name'].startswith('M') else 0, axis=1)
    )[['employee_id', 'bonus']].sort_values(
        by='employee_id',
    )

In [ ]:
# 1667. Fix Names in a Table
# Table: Users

# +----------------+---------+
# | Column Name    | Type    |
# +----------------+---------+
# | user_id        | int     |
# | name           | varchar |
# Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.

# Return the result table ordered by user_id.

# The result format is in the following example.

 

# Example 1:

# Input: 
# Users table:
# +---------+-------+
# | user_id | name  |
# +---------+-------+
# | 1       | aLice |
# | 2       | bOB   |
# +---------+-------+
# Output: 
# +---------+-------+
# | user_id | name  |
# +---------+-------+
# | 1       | Alice |
# | 2       | Bob   |
# +---------+-------+


users['name'] = users['name'].apply(lambda x: x.capitalize() )
    return users.sort_values(by = ['user_id'])

In [1]:
# 1517. Find Users With Valid E-Mails
# Table: Users

# +---------------+---------+
# | Column Name   | Type    |
# +---------------+---------+
# | user_id       | int     |
# | name          | varchar |
# | mail          | varchar |
# +---------------+---------+
# user_id is the primary key (column with unique values) for this table.
# This table contains information of the users signed up in a website. Some e-mails are invalid.
 

# Write a solution to find the users who have valid emails.

# A valid e-mail has a prefix name and a domain where:

# The prefix name is a string that may contain letters (upper or lower case), digits, underscore '_', period '.', and/or dash '-'. The prefix name must start with a letter.
# The domain is '@leetcode.com'.

# Solution 1)
import pandas as pd

def check(s):
    is_valid = False
    a = s.split('@')
    if len(a) < 2:
        return False
    if a[1] =='leetcode.com' and a[0][0].isalpha():
        for i in a[0]:
            if i.isalpha() or i.isdigit() or i == '_' or i == '.' or i == '-':
                pass
            else:
                return False
        return True

    return False

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    users['is_valid'] = users['mail'].apply(lambda x: check(x))
    return users.loc[users['is_valid'] == True, ['user_id', 'name', 'mail']]
    

# Solution 2)
return users[
        users['mail'].str.match(r'^[a-zA-Z][a-zA-Z\d_.-]*@leetcode\.com')
    ]



# SQL
# Solution 1

select * 
FROM Users
WHERE mail REGEXP '^[A-Za-z][A-Za-z0-9_\.\-]*@leetcode(\\?com)?\\.com$';

In [ ]:
# 1527. Patients With a Condition
# Table: Patients

# +--------------+---------+
# | Column Name  | Type    |
# +--------------+---------+
# | patient_id   | int     |
# | patient_name | varchar |
# | conditions   | varchar |
# +--------------+---------+
# patient_id is the primary key (column with unique values) for this table.
# 'conditions' contains 0 or more code separated by spaces. 
# This table contains information of the patients in the hospital.

# Write a solution to find the patient_id, patient_name, and conditions of the patients who have Type I Diabetes. Type I Diabetes always starts with DIAB1 prefix.

# pandas)
# 1) here \b shows that DIAB1 prefix is of a word
patients.loc[patients['conditions'].str.contains(r'\bDIAB1')]

# SQL
# 1) 
select * 
From patients
where conditions like 'DIAB1%' or conditions like '% DIAB1%'

# Data Manupulation

In [ ]:
# 177. Nth Highest Salary

# Write a solution to find the nth highest salary from the Employee table. If there is no nth highest salary, return null.

# The result format is in the following example.

 

# Example 1:

# Input: 
# Employee table:
# +----+--------+
# | id | salary |
# +----+--------+
# | 1  | 100    |
# | 2  | 200    |
# | 3  | 300    |
# +----+--------+
# n = 2
# Output: 
# +------------------------+
# | getNthHighestSalary(2) |
# +------------------------+
# | 200                    |
# +------------------------+


# sol1 
def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    employee = employee.drop_duplicates(subset = ['salary'])

    if N > len(employee):
        return pd.DataFrame( {f'getNthHighestSalary({N})': [None]})

    employee = employee.sort_values(by = ['salary'], ascending  = False)
    nth = employee.iloc[N-1]['salary']
    return pd.DataFrame( {f'getNthHighestSalary({N})': [nth]})
    

    # Sol 2 - but not structure and not ending null
        return employee.sort_values(
                    by='salary',
                    ascending=False,
                ).drop_duplicates(
                    subset=['salary'],
                ).iloc[n - 1:n][['salary']]

In [ ]:
# 176. Second Highest Salary
# Write a solution to find the second highest salary from the Employee table. If there is no second highest salary, return null (return None in Pandas).

# The result format is in the following example.

 

# Example 1:

# Input: 
# Employee table:
# +----+--------+
# | id | salary |
# +----+--------+
# | 1  | 100    |
# | 2  | 200    |
# | 3  | 300    |
# +----+--------+
# Output: 
# +---------------------+
# | SecondHighestSalary |
# +---------------------+
# | 200                 |
# +---------------------+

# sol1:
def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    employee = employee.drop_duplicates(subset = ['salary'])
    if len(employee) <2:
        return pd.DataFrame( {'SecondHighestSalary': [None]})

    employee = employee.sort_values(by = ['salary'], ascending = False)
    snd = employee.iloc[1]['salary']
    return pd.DataFrame( {'SecondHighestSalary': [snd]})


# Sol 2
def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    sorted_salaries = employee['salary'].sort_values(
        ascending=False
    ).drop_duplicates()
    return pd.DataFrame({
        'SecondHighestSalary': [None if sorted_salaries.size < 2 else sorted_salaries.iloc[1]]
    })

In [ ]:
# 178. Rank Scores

# Write a solution to find the rank of the scores. The ranking should be calculated according to the following rules:

# The scores should be ranked from the highest to the lowest.
# If there is a tie between two scores, both should have the same ranking.
# After a tie, the next ranking number should be the next consecutive integer value. In other words, there should be no holes between ranks.
# Return the result table ordered by score in descending order.

# The result format is in the following example.

 

# Example 1:

# Input: 
# Scores table:
# +----+-------+
# | id | score |
# +----+-------+
# | 1  | 3.50  |
# | 2  | 3.65  |
# | 3  | 4.00  |
# | 4  | 3.85  |
# | 5  | 4.00  |
# | 6  | 3.65  |
# +----+-------+
# Output: 
# +-------+------+
# | score | rank |
# +-------+------+
# | 4.00  | 1    |
# | 4.00  | 1    |
# | 3.85  | 2    |
# | 3.65  | 3    |
# | 3.65  | 3    |
# | 3.50  | 4    |
# +-------+------+

def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    if len(scores) == 0:
        return pd.DataFrame(columns = ['score', 'rank'])

    scores = scores.sort_values(by = 'score', ascending = False)

    r = 1
    rank = [1]
    for i in range(1, len(scores)):
        score = scores.iloc[i]['score']
        prev = scores.iloc[i-1]['score']
        if score == prev:
            rank.append(r)
        else:
            r += 1
            rank.append(r)
    
    scores['rank'] = rank
    return scores[['score','rank']]

# SOl 2:
def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    return scores.sort_values(
        by='score', ascending=False,
    ).assign(
        rank=scores['score'].rank(method='dense', ascending=False),
    )[['score', 'rank']]

In [ ]:
# 196. Delete Duplicate Emails

# Dropping the duplicate empail id but not creating new table changing in the table itself

def delete_duplicate_emails(person: pd.DataFrame) -> None:
    # Sort the rows based on id (Ascending order)
    person.sort_values(by='id',ascending=True,inplace=True)
    # Drop the duplicates based on email.
    person.drop_duplicates(subset='email', keep='first', inplace=True)

In [ ]:
# 184. Department Highest Salary

# Write a solution to find employees who have the highest salary in each of the departments.

# Return the result table in any order.

# The result format is in the following example.

 

# Example 1:

# Input: 
# Employee table:
# +----+-------+--------+--------------+
# | id | name  | salary | departmentId |
# +----+-------+--------+--------------+
# | 1  | Joe   | 70000  | 1            |
# | 2  | Jim   | 90000  | 1            |
# | 3  | Henry | 80000  | 2            |
# | 4  | Sam   | 60000  | 2            |
# | 5  | Max   | 90000  | 1            |
# +----+-------+--------+--------------+
# Department table:
# +----+-------+
# | id | name  |
# +----+-------+
# | 1  | IT    |
# | 2  | Sales |
# +----+-------+
# Output: 
# +------------+----------+--------+
# | Department | Employee | Salary |
# +------------+----------+--------+
# | IT         | Jim      | 90000  |
# | Sales      | Henry    | 80000  |
# | IT         | Max      | 90000  |
# +------------+----------+--------+
# Explanation: Max and Jim both have the highest salary in the IT department and Henry has the highest salary in the Sales department.


# Sol 1:
def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    # If any empty so return null
    if employee.empty or department.empty:
        return pd.DataFrame(columns = ['Department', 'Employee', 'Salary'])

    # merging dataframe
    merged_df = employee.merge(department, left_on = 'departmentId', right_on = 'id', suffixes = ('_employee', '_department'))    

    # Grouping data frame based on a lambda function as if used max or min so only would have got one value but we want all values.
    max_sal = merged_df.groupby('departmentId').apply(lambda x: x[x['salary'] == x['salary'].max()])
    max_sal = max_sal.reset_index(drop = True)

    return max_sal[['name_department', 'name_employee', 'salary']].rename(columns = {'name_department': 'Department', 'name_employee':'Employee'
            , 'salary': 'Salary'})

# sol 2:
def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    return employee.merge(
        department, left_on='departmentId', right_on='id', suffixes=('_employee', '_department')
    ).groupby(
        'departmentId'
    ).apply(
        lambda x: x[x['salary'] == x['salary'].max()]
    ).reset_index(drop=True)[
        ['name_department', 'name_employee', 'salary']
    ].rename(columns={
        'name_department': 'Department',
        'name_employee': 'Employee',
        'salary': 'Salary',
    })

In [ ]:
# 1795. Rearrange Products Table

# Write a solution to rearrange the Products table so that each row has (product_id, store, price). If a product is not available in a store, do not include a row with that product_id and store combination in the result table.

# Return the result table in any order.

# The result format is in the following example.

 

# Example 1:

# Input: 
# Products table:
# +------------+--------+--------+--------+
# | product_id | store1 | store2 | store3 |
# +------------+--------+--------+--------+
# | 0          | 95     | 100    | 105    |
# | 1          | 70     | null   | 80     |
# +------------+--------+--------+--------+
# Output: 
# +------------+--------+-------+
# | product_id | store  | price |
# +------------+--------+-------+
# | 0          | store1 | 95    |
# | 0          | store2 | 100   |
# | 0          | store3 | 105   |
# | 1          | store1 | 70    |
# | 1          | store3 | 80    |
# +------------+--------+-------+

def rearrange_products_table(products: pd.DataFrame) -> pd.DataFrame:
    return pd.melt(
        products, id_vars='product_id', var_name='store', value_name='price'
    ).dropna()

In [ ]:
# 1907. Count Salary Categories

# Write a solution to calculate the number of bank accounts for each salary category. The salary categories are:

# "Low Salary": All the salaries strictly less than $20000.
# "Average Salary": All the salaries in the inclusive range [$20000, $50000].
# "High Salary": All the salaries strictly greater than $50000.
# The result table must contain all three categories. If there are no accounts in a category, return 0.

# Return the result table in any order.

# The result format is in the following example.

 

# Example 1:

# Input: 
# Accounts table:
# +------------+--------+
# | account_id | income |
# +------------+--------+
# | 3          | 108939 |
# | 2          | 12747  |
# | 8          | 87709  |
# | 6          | 91796  |
# +------------+--------+
# Output: 
# +----------------+----------------+
# | category       | accounts_count |
# +----------------+----------------+
# | Low Salary     | 1              |
# | Average Salary | 0              |
# | High Salary    | 3              |
# +----------------+----------------+
# Explanation: 
# Low Salary: Account 2.
# Average Salary: No accounts.
# High Salary: Accounts 3, 6, and 8.

# Sol 1:

def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    categories = ['Low Salary', 'Average Salary', 'High Salary']
    accounts['category'] = pd.Categorical(accounts['income'].apply(
        lambda x: 'High Salary' if x > 50000 else ('Average Salary' if x >= 20000 else 'Low Salary')),
        categories=categories
    )
    df = accounts.groupby('category').size().reset_index(name='accounts_count')
    return df


# sol 2
def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    return pd.DataFrame({
        'category': ['Low Salary', 'Average Salary', 'High Salary'],
        'accounts_count': [
            accounts[accounts.income < 20000].shape[0],
            accounts[(accounts.income >= 20000) & (accounts.income <= 50000)].shape[0],
            accounts[accounts.income > 50000].shape[0],
        ],
    })

# Data Agregation

In [ ]:
# 1741. Find Total Time Spent by Each Employee

# Write a solution to calculate the total time in minutes spent by each employee on each day at the office. Note that within one day, an employee can enter and leave more than once. The time spent in the office for a single entry is out_time - in_time.

# Return the result table in any order.

# The result format is in the following example.

 

# Example 1:

# Input: 
# Employees table:
# +--------+------------+---------+----------+
# | emp_id | event_day  | in_time | out_time |
# +--------+------------+---------+----------+
# | 1      | 2020-11-28 | 4       | 32       |
# | 1      | 2020-11-28 | 55      | 200      |
# | 1      | 2020-12-03 | 1       | 42       |
# | 2      | 2020-11-28 | 3       | 33       |
# | 2      | 2020-12-09 | 47      | 74       |
# +--------+------------+---------+----------+
# Output: 
# +------------+--------+------------+
# | day        | emp_id | total_time |
# +------------+--------+------------+
# | 2020-11-28 | 1      | 173        |
# | 2020-11-28 | 2      | 30         |
# | 2020-12-03 | 1      | 41         |
# | 2020-12-09 | 2      | 27         |
# +------------+--------+------------+

# Sol 1

def total_time(employees: pd.DataFrame) -> pd.DataFrame:
    employees['total_time'] = employees['out_time'] - employees['in_time']

    #without reset index we wont get name columns by wich aggregated
    employees = employees.groupby(['event_day', 'emp_id']).sum().reset_index()

    return employees[['event_day', 'emp_id', 'total_time']].rename(columns = {'event_day': 'day'})

In [ ]:
# 2356. Number of Unique Subjects Taught by Each Teacher

# Write a solution to calculate the number of unique subjects each teacher teaches in the university.

# Return the result table in any order.

# The result format is shown in the following example.

 

# Example 1:

# Input: 
# Teacher table:
# +------------+------------+---------+
# | teacher_id | subject_id | dept_id |
# +------------+------------+---------+
# | 1          | 2          | 3       |
# | 1          | 2          | 4       |
# | 1          | 3          | 3       |
# | 2          | 1          | 1       |
# | 2          | 2          | 1       |
# | 2          | 3          | 1       |
# | 2          | 4          | 1       |
# +------------+------------+---------+
# Output:  
# +------------+-----+
# | teacher_id | cnt |
# +------------+-----+
# | 1          | 2   |
# | 2          | 4   |
# +------------+-----+

def count_unique_subjects(teacher: pd.DataFrame) -> pd.DataFrame:
    teacher = teacher.drop_duplicates(subset = ['teacher_id', 'subject_id'])
    n = teacher.groupby(['teacher_id']).count().reset_index()
    return n[['teacher_id', 'subject_id']].rename(columns = {'subject_id': 'cnt'})

In [ ]:
# # 586. Customer Placing the Largest Number of Orders

# Write a solution to find the customer_number for the customer who has placed the largest number of orders.

# The test cases are generated so that exactly one customer will have placed more orders than any other customer.

# The result format is in the following example.

 

# Example 1:

# Input: 
# Orders table:
# +--------------+-----------------+
# | order_number | customer_number |
# +--------------+-----------------+
# | 1            | 1               |
# | 2            | 2               |
# | 3            | 3               |
# | 4            | 3               |
# +--------------+-----------------+
# Output: 
# +-----------------+
# | customer_number |
# +-----------------+
# | 3               |
# +-----------------+

def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    # return orders.groupby('customer_number').count().reset_index().sort_values(by = 'order_number').iloc[0][['customer_number']]
    
    orders = orders.groupby(['customer_number']).count().reset_index()

    return orders[orders['order_number'] == orders['order_number'].max()][['customer_number']]

In [1]:
# # 1693. Daily Leads and Partners

# For each date_id and make_name, find the number of distinct lead_id's and distinct partner_id's.

# Return the result table in any order.

# The result format is in the following example.

 

# Example 1:

# Input: 
# DailySales table:
# +-----------+-----------+---------+------------+
# | date_id   | make_name | lead_id | partner_id |
# +-----------+-----------+---------+------------+
# | 2020-12-8 | toyota    | 0       | 1          |
# | 2020-12-8 | toyota    | 1       | 0          |
# | 2020-12-8 | toyota    | 1       | 2          |
# | 2020-12-7 | toyota    | 0       | 2          |
# | 2020-12-7 | toyota    | 0       | 1          |
# | 2020-12-8 | honda     | 1       | 2          |
# | 2020-12-8 | honda     | 2       | 1          |
# | 2020-12-7 | honda     | 0       | 1          |
# | 2020-12-7 | honda     | 1       | 2          |
# | 2020-12-7 | honda     | 2       | 1          |
# +-----------+-----------+---------+------------+
# Output: 
# +-----------+-----------+--------------+-----------------+
# | date_id   | make_name | unique_leads | unique_partners |
# +-----------+-----------+--------------+-----------------+
# | 2020-12-8 | toyota    | 2            | 3               |
# | 2020-12-7 | toyota    | 1            | 2               |
# | 2020-12-8 | honda     | 2            | 2               |
# | 2020-12-7 | honda     | 3            | 2               |
# +-----------+-----------+--------------+-----------------+

def daily_leads_and_partners(daily_sales: pd.DataFrame) -> pd.DataFrame:
    daily_sales = daily_sales.groupby(
                                        ['date_id', 'make_name']
                            ).nunique(
                            ).reset_index(
                            ).rename(columns = {
                                'lead_id' : 'unique_leads', 
                                'partner_id': 'unique_partners'
                            })
    return daily_sales

In [3]:
# # 1484. Group Sold Products By The Date

# Write a solution to find for each date the number of different products sold and their names.

# The sold products names for each date should be sorted lexicographically.

# Return the result table ordered by sell_date.

# The result format is in the following example.

 

# Example 1:

# Input: 
# Activities table:
# +------------+------------+
# | sell_date  | product     |
# +------------+------------+
# | 2020-05-30 | Headphone  |
# | 2020-06-01 | Pencil     |
# | 2020-06-02 | Mask       |
# | 2020-05-30 | Basketball |
# | 2020-06-01 | Bible      |
# | 2020-06-02 | Mask       |
# | 2020-05-30 | T-Shirt    |
# +------------+------------+
# Output: 
# +------------+----------+------------------------------+
# | sell_date  | num_sold | products                     |
# +------------+----------+------------------------------+
# | 2020-05-30 | 3        | Basketball,Headphone,T-shirt |
# | 2020-06-01 | 2        | Bible,Pencil                 |
# | 2020-06-02 | 1        | Mask                         |
# +------------+----------+------------------------------+

# Solu 1: me
def categorize_products(activities: pd.DataFrame) -> pd.DataFrame:
    cat = activities.drop_duplicates().groupby(['sell_date']).count().reset_index().rename(columns = {'product' : 'num_sold'})
    # return cat
    l = []
    for i in cat['sell_date']:
        s = ''
        data = activities[activities['sell_date'] == i].drop_duplicates(subset = ['product']).sort_values(by= ['product'] , ascending = True)
        for i in data['product']:
            s = s + ',' + i
        l.append(s[1:])

    cat['products'] = l
    return cat 

# Sol 2:

def categorize_products(activities: pd.DataFrame) -> pd.DataFrame:
    return activities.groupby(
        'sell_date'
    )['product'].agg([
        ('num_sold', 'nunique'),
        ('products', lambda x: ','.join(sorted(x.unique())))
    ]).reset_index()

# Data Integration

In [ ]:
# 1050. Actors and Directors Who Cooperated At Least Three Times
# Write a solution to find all the pairs (actor_id, director_id) where the actor has cooperated with the director at least three times.

# Return the result table in any order.

# The result format is in the following example.

 

# Example 1:

# Input: 
# ActorDirector table:
# +-------------+-------------+-------------+
# | actor_id    | director_id | timestamp   |
# +-------------+-------------+-------------+
# | 1           | 1           | 0           |
# | 1           | 1           | 1           |
# | 1           | 1           | 2           |
# | 1           | 2           | 3           |
# | 1           | 2           | 4           |
# | 2           | 1           | 5           |
# | 2           | 1           | 6           |
# +-------------+-------------+-------------+
# Output: 
# +-------------+-------------+
# | actor_id    | director_id |
# +-------------+-------------+
# | 1           | 1           |
# +-------------+-------------+

def actors_and_directors(actor_director: pd.DataFrame) -> pd.DataFrame:
    actor = actor_director.groupby(['actor_id', 'director_id']).count().reset_index()
    return actor[actor['timestamp'] >= 3][['actor_id', 'director_id']]

In [ ]:
# 1378. Replace Employee ID With The Unique Identifier

# Write a solution to show the unique ID of each user, If a user does not have a unique ID replace just show null.

# Return the result table in any order.

# The result format is in the following example.

 

# Example 1:

# Input: 
# Employees table:
# +----+----------+
# | id | name     |
# +----+----------+
# | 1  | Alice    |
# | 7  | Bob      |
# | 11 | Meir     |
# | 90 | Winston  |
# | 3  | Jonathan |
# +----+----------+
# EmployeeUNI table:
# +----+-----------+
# | id | unique_id |
# +----+-----------+
# | 3  | 1         |
# | 11 | 2         |
# | 90 | 3         |
# +----+-----------+
# Output: 
# +-----------+----------+
# | unique_id | name     |
# +-----------+----------+
# | null      | Alice    |
# | null      | Bob      |
# | 2         | Meir     |
# | 3         | Winston  |
# | 1         | Jonathan |
# +-----------+----------+

def replace_employee_id(employees: pd.DataFrame, employee_uni: pd.DataFrame) -> pd.DataFrame:
    return pd.merge(
            employees, employee_uni, left_on = 'id', right_on = 'id', how = 'left'
            )[['unique_id', 'name']]

In [ ]:
# 1280. Students and Examinations

# Example 1:

# Input: 
# Students table:
# +------------+--------------+
# | student_id | student_name |
# +------------+--------------+
# | 1          | Alice        |
# | 2          | Bob          |
# | 13         | John         |
# | 6          | Alex         |
# +------------+--------------+
# Subjects table:
# +--------------+
# | subject_name |
# +--------------+
# | Math         |
# | Physics      |
# | Programming  |
# +--------------+
# Examinations table:
# +------------+--------------+
# | student_id | subject_name |
# +------------+--------------+
# | 1          | Math         |
# | 1          | Physics      |
# | 1          | Programming  |
# | 2          | Programming  |
# | 1          | Physics      |
# | 1          | Math         |
# | 13         | Math         |
# | 13         | Programming  |
# | 13         | Physics      |
# | 2          | Math         |
# | 1          | Math         |
# +------------+--------------+
# Output: 
# +------------+--------------+--------------+----------------+
# | student_id | student_name | subject_name | attended_exams |
# +------------+--------------+--------------+----------------+
# | 1          | Alice        | Math         | 3              |
# | 1          | Alice        | Physics      | 2              |
# | 1          | Alice        | Programming  | 1              |
# | 2          | Bob          | Math         | 1              |
# | 2          | Bob          | Physics      | 0              |
# | 2          | Bob          | Programming  | 1              |
# | 6          | Alex         | Math         | 0              |
# | 6          | Alex         | Physics      | 0              |
# | 6          | Alex         | Programming  | 0              |
# | 13         | John         | Math         | 1              |
# | 13         | John         | Physics      | 1              |
# | 13         | John         | Programming  | 1              |
# +------------+--------------+--------------+----------------+

# SOl 1:
def students_and_examinations(students: pd.DataFrame, subjects: pd.DataFrame, examinations: pd.DataFrame) -> pd.DataFrame:
    return pd.merge(
        left=pd.merge(
            students, subjects, how='cross',
        ).sort_values(
            by=['student_id', 'subject_name']
        ),
        right=examinations.groupby(
            ['student_id', 'subject_name'],
        ).agg(
            attended_exams=('subject_name', 'count')
        ).reset_index(),
        how='left',
        on=['student_id', 'subject_name'],
    ).fillna(0)[
        ['student_id', 'student_name', 'subject_name', 'attended_exams']
    ]

In [ ]:
# 607. Sales Person

# Write a solution to find the names of all the salespersons who did not have any orders related to the company with the name "RED".

# Return the result table in any order.

# The result format is in the following example.

 

# Example 1:

# Input: 
# SalesPerson table:
# +----------+------+--------+-----------------+------------+
# | sales_id | name | salary | commission_rate | hire_date  |
# +----------+------+--------+-----------------+------------+
# | 1        | John | 100000 | 6               | 4/1/2006   |
# | 2        | Amy  | 12000  | 5               | 5/1/2010   |
# | 3        | Mark | 65000  | 12              | 12/25/2008 |
# | 4        | Pam  | 25000  | 25              | 1/1/2005   |
# | 5        | Alex | 5000   | 10              | 2/3/2007   |
# +----------+------+--------+-----------------+------------+
# Company table:
# +--------+--------+----------+
# | com_id | name   | city     |
# +--------+--------+----------+
# | 1      | RED    | Boston   |
# | 2      | ORANGE | New York |
# | 3      | YELLOW | Boston   |
# | 4      | GREEN  | Austin   |
# +--------+--------+----------+
# Orders table:
# +----------+------------+--------+----------+--------+
# | order_id | order_date | com_id | sales_id | amount |
# +----------+------------+--------+----------+--------+
# | 1        | 1/1/2014   | 3      | 4        | 10000  |
# | 2        | 2/1/2014   | 4      | 5        | 5000   |
# | 3        | 3/1/2014   | 1      | 1        | 50000  |
# | 4        | 4/1/2014   | 1      | 4        | 25000  |
# +----------+------------+--------+----------+--------+
# Output: 
# +------+
# | name |
# +------+
# | Amy  |
# | Mark |
# | Alex |
# +------+

# SOl 1: me
def sales_person(sales_person: pd.DataFrame, company: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    comp = pd.merge(orders, company, on = 'com_id', how = 'left')
    comp = comp[comp['name'] == 'RED'][['sales_id']]
    l = comp['sales_id'].to_list()
    sales_person['take'] = sales_person['sales_id'].apply(lambda x: 1 if x not in l else 0)
    return sales_person[sales_person['take'] == 1][['name']]

# SOl 2:
def sales_person(sales_person: pd.DataFrame, company: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    return sales_person[
        ~sales_person['sales_id'].isin(
            pd.merge(
                left=orders,
                right=company[company['name'] == 'RED'],
                on='com_id',
                how='inner',
            )['sales_id'].unique()
        )
    ][['name']]


# @sol3?
import pandas as pd

def sales_person(sales_person: pd.DataFrame, company: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    # Merge SalesPerson, Orders, and Company tables
    merged_data = sales_person.merge(orders, on='sales_id', how='left').merge(company, on='com_id', how='left')
    
    # Filter rows where the company name is not "RED" or is null
    filtered_data = merged_data[(merged_data['name_y'] != 'RED') | (merged_data['name_y'].isna())]
    
    # Select the 'name_x' column, which represents the salesperson's name
    result = filtered_data[['name_x']].rename(columns={'name_x': 'name'})
    
    # Drop duplicates (in case a salesperson had multiple orders not related to "RED")
    result = result.drop_duplicates()
    
    # Find the salespersons who had orders related to "RED"
    sales_with_red_orders = merged_data[merged_data['name_y'] == 'RED']['name_x'].unique()
    
    # Filter out salespersons with "RED" orders from the result
    result = result[~result['name'].isin(sales_with_red_orders)]
    
    return result

In [ ]:
# 570. Managers with at Least 5 Direct Reports

# Write a solution to find managers with at least five direct reports.

# Return the result table in any order.

# The result format is in the following example.

 

# Example 1:

# Input: 
# Employee table:
# +-----+-------+------------+-----------+
# | id  | name  | department | managerId |
# +-----+-------+------------+-----------+
# | 101 | John  | A          | None      |
# | 102 | Dan   | A          | 101       |
# | 103 | James | A          | 101       |
# | 104 | Amy   | A          | 101       |
# | 105 | Anne  | A          | 101       |
# | 106 | Ron   | B          | 101       |
# +-----+-------+------------+-----------+
# Output: 
# +------+
# | name |
# +------+
# | John |
# +------+

# Sol 1: by me 8/9 test cases passed
def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(employee, employee, right_on = 'id', left_on = 'managerId', how = 'left')
    df= df.groupby('name_y').count().reset_index().rename(columns = {'name_y': 'name'})
    df = df[df['name_x'] >= 5][['name']]
    return df

# Sol 2:
def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    # Group the employees by managerId and count the number of direct reports
    manager_report_count = employee.groupby('managerId').size().reset_index(name='directReports')
    
    # Filter managers with at least five direct reports
    result = manager_report_count[manager_report_count['directReports'] >= 5]
    
    # Merge with the Employee table to get the names of these managers
    result = result.merge(employee[['id', 'name']], left_on='managerId', right_on='id', how='inner')
    
    # Select only the 'name' column and drop the 'id' and 'directReports' columns
    result = result[['name']]
    
    return result

# Sol 3:
def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    managers = employee.groupby(
        'managerId', as_index=False
    ).agg(
        reporting=('id', 'count'),
    ).query(
        '5 <= reporting'
    )['managerId']

    return employee[
        employee['id'].isin(managers)
    ][['name']]